<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asher Jobs</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your external CSS file -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>
<section> 
    <header> 
        <div class="container">
            <nav>
                <ul>
                    <li><a href="../main-page1/index.html"><div class="logo1"></div></a></li> <!-- Displaying the logo -->
                    <li><a href="../main-page1/index.html"><h1>Asher Jobs</h1></a></li>

                    <li class="middle">
                        <a href="#">
                            Home Page
                        </a>
                        <a href="#">
                            Courses
                        </a>
                        <a href="#">
                            Jobs
                        </a>
                        <a href="#">
                           Analysis 
                        </a>
                        <a href="#">
                           Profile Page
                        </a>
                    </li>
                    <li class="right">
                        <div class="lang">
                            <a href="#"><h6>AR</h6></a>
                            <a href="#"><h6>EN</h6></a>
                            <div class="btn1x; ">  <li ><a href="#" class="btn"> <i class='bx bx-chat'></i> </a></li> </div><!-- messages button aligned to the right -->
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</section>




<body>
    <Div>
        <ul>
            <li class="home-page"> <h2>Home Page</h2></li>
        </ul>
    </Div>

    
</body>
</html>